[submodule "claude-plugin"]
	path = claude-plugin
	url = git@github.com:/cyrup-ai/kodegen-claude-plugin
[submodule "kodegen.ai"]
	path = kodegen.ai
	url = git@github.com:/cyrup-ai/kodegen.ai
[submodule "packages/cylo"]
	path = packages/cylo
	url = git@github.com:/cyrup-ai/cylo
[submodule "packages/kgls"]
	path = packages/kgls
	url = git@github.com:/cyrup-ai/kgls
